@model DSchedule.Contracts.Models.JobMonitorModel


<div style="height:450px;width:auto">
    @using GridMvc.Html

    @Html.Grid((List<DSchedule.Contracts.Models.JobMonitor>)Model.JobMonitorList).Named("JobMonitorGrid").Columns(columns =>
           {
               columns.Add(c => c.UprocID).Titled("UProc ID").Css("hidden-xs");
               columns.Add(c => c.SessionID).Titled("Session ID").Css("hidden-xs");
               columns.Add(c => c.UprocName).Titled("UProcs").Sortable(true);
               columns.Add(c => c.SessionName).Titled("Session").Sortable(true);
               columns.Add(c => c.UProcStatus).Titled("Status").Sortable(true);
               columns.Add(c => c.EnvironmentName).Titled("Environment").Sortable(true);
               columns.Add(c => c.NodeName).Titled("Node").Sortable(true);
               columns.Add(c => c.ScheduleDateTime).Titled("Scheduled DateTime").Sortable(true);
               columns.Add(c => c.StartedDateTime).Titled("Start DateTime").Sortable(true);
               columns.Add(c => c.CompletedDateTime).Titled("Completed DateTime").Sortable(true);
               columns.Add(c => c.CreatedBy).Titled("Created By").Sortable(true);
               columns.Add(c => c.CreatedDateTime).Titled("Created DateTime").Sortable(true);
               columns.Add(c => c.UpdatedBy).Titled("Updated By").Sortable(true);
               columns.Add(c => c.UpdatedDateTime).Titled("Updated DateTime").Sortable(true);
               //columns.Add()
               //.Encoded(false)
               //.Sanitized(false)
               //.SetWidth(30)
               //.RenderValueAs(o => Html.ActionLink("Update",null,null
               //    //, "GetUProcDetailsByID"
               //    //, "JobMonitor"
               //    , new { uProcID = o.UprocID, sessionID = o.SessionID }, new { @class = "my_class" }
               //));
           }).WithPaging(7)
</div>
    