body {
    padding-top: 50px;
    padding-bottom: 20px;    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.horizontalcontainer {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    height: 700px;
    border: 1px solid #787878;
}

.btn-master {
    background-color: #d3dce0;
    border: 0px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: 100%;
    text-decoration: none;
}

    .btn-master:hover,
    .btn-master:focus {
        background-color: cornflowerblue;
        background-position: 0 -15px;
    }

.detailssection {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: cornflowerblue;
    border: 1px solid #787878;
    color: white;
    .btn-master:hover,
    .btn-master:focus {
        background-color: cornflowerblue;
        background-position: 0 -15px;
    }

.detailssection {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: cornflowerblue;
    border: 1px solid #787878;
    color: white;
}

.navheader {
    margin-left: 0px;
    background-color: darkblue;
}

/* login page */
#loginForm {
    float: left;
    width: 90%;   
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;

    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

        #loginForm input[type="checkbox"],
        #loginForm input[type="submit"],
        #loginForm input[type="button"],
        #loginForm button {
            width: 100px;
        }

/* login page */
#loginForm {
    border-right: none;
    float: none;
    width: auto;
     align-items:center
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }
/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }
/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 15px;
    padding-top:50px;
    height:650px;
    
}

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 10px auto;
    max-width: 1500px;
}
/* forms */
fieldset {
    border: 5px;
    margin: 5px;
    padding: 10px;    
}

    fieldset ol {
        padding: 4px;
        list-style: none;        
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

header, footer, hgroup,
nav, section {
    display: block;   
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* DEMO TABLE */

table { border-spacing:0; border:1px solid gray;}
table.tablesorter thead tr .header {
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(images/asc.png);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(images/desc.png);
}
table th { width:150px; 
           border:1px outset gray; 
           background-color:#3C78B5; 
           color:White; 
           cursor:pointer;
}
table thead th:hover { background-color:Yellow; color:Black;}
table td { width:150px; border:1px solid gray;}